<!doctype html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<title></title>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no" />
	<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
	<link rel='stylesheet' type='text/css' href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css' />
	<style type='text/css'>
		.stretch { width:100%; }
		.pointer { cursor:pointer; }
		.mrg-btm-sm { margin-bottom:5px; }
		.mrg-btm-md { margin-bottom:10px; }
	</style>
</head>
<body>

	<div id='main-container' class='container-fluid'>
		<div class='row'>
			<div class='col-md-12'><h1>spreadbase</h1></div>
		</div>
		
		<div class='row'>
			<div class='col-md-12'>
				<p>
					Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor 
					incididunt ut labore et dolore magna aliqua. Ut enim ad minim veniam, quis 
					nostrud exercitation ullamco laboris nisi ut aliquip ex ea commodo consequat. 
					Duis aute irure dolor in reprehenderit in voluptate velit esse cillum dolore 
					eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat non proident, sunt 
					in culpa qui officia deserunt mollit anim id est laborum.
				</p>
			</div>
		</div>
		
		<div class='row'>
			<div class='col-md-12'>
				<h3>Convert</h3>
			</div>
		</div>
		
		<div class='row'>

			<div class='col-sm-1 col-md-1'></div>
			<div class='col-sm-10 col-md-10'>
				<form action="#" th:action="@{/greeting}" th:object="${greeting}" method="post">
	
					<div class='row'>
						<div class='col-sm-1'>
							<label>File</label>
						</div>
						<div class='col-sm-10'>
							<input type="text" class='stretch pointer mrg-btm-md' th:field="*{content}" />
						</div>
						<div class='col-sm-1'>
							<input type="submit" value="Submit" />
						</div>
					</div>
		
			    </form>
			</div>
			<div class='col-sm-1 col-md-1'></div>

		</div>
	
	</div>

</body>
</html>